@using MVC_Proje.Models;
@model URUNTABLOSU
@{
    ViewBag.Title = "PListByID";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using (Html.BeginForm("ÜrünGüncelle", "Ürün", FormMethod.Post))
{

    <div>
        <h3 class="page-header">Ürün ID</h3>
        @Html.TextBoxFor(k => k.URUNID, new { @class = "form-control" })
    </div>
    <div>
        <h3 class="page-header">Ürün Adı</h3>
        @Html.TextBoxFor(k => k.URUNAD, new { @class = "form-control" })
    </div>
    <div>&nbsp;</div>
    <div>
        <h3 class="page-header">Ürün Fiyat</h3>
        @Html.DropDownListFor(k=>k.KATEGORIID , (List<SelectListItem>)ViewBag.ktgr, new {@class="form-control" })
    </div>
    <div>&nbsp;</div>
    <div>
        <h3 class="page-header">Ürün Stok</h3>
        @Html.TextBoxFor(k => k.URUNSTOK, new { @class = "form-control" })
    </div>
    <div>&nbsp;</div>
    <div>
        <h3 class="page-header">Ürün Fiyat</h3>
        @Html.TextBoxFor(k => k.URUNFIYAT, new { @class = "form-control" })
    </div>
    <div>&nbsp;</div>
    <div>
        <input type="submit" vale="Güncelle" class="btn btn-danger" />
    </div>
}


