@using Yaz_Okulu_MVC.Models;
@model DersTablosu
@{
    ViewBag.Title = "EditLessons";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using (Html.BeginForm("EditLessons", "Lesson", FormMethod.Post))
{
    <div style="display:flex;flex-direction:column;justify-content:space-between">
        @Html.HiddenFor(m=>m.DersID)
        @Html.TextBoxFor(m => m.DersAd, new { @placeholder = "Ders Adını Giriniz" })
        @Html.TextBoxFor(m => m.MaxKont, new { @placeholder = "Ders Max Kontenjanını Giriniz" })
        @Html.TextBoxFor(m => m.MinKont, new { @placeholder = "Ders Min Kontenjanını Giriniz" })
        @Html.TextBoxFor(m => m.OgrSayısı, new { @placeholder = "Ders Öğrenci Sayısı Giriniz" })

        <input type="submit" value="Düzenle" class="btn btn-danger" />
    </div>

}

