@using Yemek_Sitesi_MVC.Models
@model YemekTablosu
@{
    ViewBag.Title = "ShowRecipeDetailsForNonUsers";
    Layout = "~/Views/Shared/NonUserLayout.cshtml";
}

<div style="display:flex;flex-direction:column;align-items:center">
    @Html.DisplayFor(m => m.KategoriTablosu.Ad)
    @Html.DisplayFor(m => m.YemekAd)
    @Html.DisplayFor(m => m.EklenmeTarihi)
    <img height="400" width="1000" src="@ViewBag.photo" />
    @Html.TextAreaFor(m => m.Malzemeler, new {   @style = "Width:600px;Height:200px"  })
    @Html.TextAreaFor(m => m.Tarifler, new { @style = "Width:600px;Height:200px" })
    <a href="/User/SignIn"><input type="button" value="Yorum yapmak için giriş yapınız" class="btn btn-danger" /></a>
</div>

